# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/home-demo/node_modules
/home-demo/.pnp
/home-demo/pnp.js

# testing
/home-demo/coverage

# production
/home-demo/build

# misc
/home-demo/.DS_Store
/home-demo/.env.local
/home-demo/env.development.local
/home-demo/.env.test.local
/home-demo/.env.production.local

/home-demo/npm-debug.log*
/home-demo/yarn-debug.log*
/home-demo/yarn-error.log*
